@import "tailwindcss";

@theme {
  --color-theme-very-dark-blue: hsl(220, 13%, 13%);
  --color-theme-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-theme-grayish-blue: hsl(220, 14%, 75%);
  --color-theme-light-grayish-blue: hsl(223, 64%, 98%);
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-black-lightbox: hsl(0, 0%, 0%, 0.75);
  --color-theme-orange: hsl(26, 100%, 55%);
  --color-theme-pale-orange: hsl(25, 100%, 94%);

  --font-sans: "Kumbh", "sans-serif";

  --text-md: 0.9375rem;

  --container-5xl: 70rem;

  --breakpoint-lg: 70rem;
}
